
<div class="container my-3">

    <h2>Add Todo</h2>
    
    <form (ngSubmit)="addTask()">
        <div class="mb-3">
            <label for="title" class="form-label">Add Todo</label>
            <input type="text" [(ngModel)]="title" name = "title" class="form-control" id="title" >
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" [(ngModel)]="desc" name="desc" class="form-control" id="desc">
        </div>
        
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
    
</div>